################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/SasteMandiApis/FileContentIndex
/BLL/bin
/BLL/obj
/Data/bin
/Data/obj
/Utility/bin
/Utility/obj
/AccountManagement/AccountManagement/obj/project.assets.json
/AccountManagement/AccountManagement/obj/project.nuget.cache
/AccountManagement/AccountManagement/obj/SasteMandi.csproj.nuget.dgspec.json
/AccountManagement/AccountManagement/obj/Debug/net6.0/SasteMandi.assets.cache
/AccountManagement/AccountManagement/obj/Debug/net6.0/SasteMandi.GeneratedMSBuildEditorConfig.editorconfig
*.lock
*.vsidx


.vs
AccountManagement\AccountManagement\bin\Debug\net6.0
/AccountManagement/AccountManagement/bin/Debug/net6.0/AccountManagement.dll
